RezerwacjeClient/Service References/ServiceReference1/UsersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60742/UsersService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60742/UsersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60742/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RezerwacjeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IUsersService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_FindByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByLogin" />
  </wsdl:message>
  <wsdl:message name="IUsersService_FindByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IUsersService_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IUsersService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersService">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/FindAll" message="tns:IUsersService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/FindAllResponse" message="tns:IUsersService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/FindByLogin" message="tns:IUsersService_FindByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/FindByLoginResponse" message="tns:IUsersService_FindByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/isAdmin" message="tns:IUsersService_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/isAdminResponse" message="tns:IUsersService_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/GetDataUsingDataContract" message="tns:IUsersService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/GetDataUsingDataContractResponse" message="tns:IUsersService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersService" type="tns:IUsersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IUsersService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByLogin">
      <soap:operation soapAction="http://tempuri.org/IUsersService/FindByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IUsersService/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IUsersService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersService">
    <wsdl:port name="BasicHttpBinding_IUsersService" binding="tns:BasicHttpBinding_IUsersService">
      <soap:address location="http://localhost:60742/UsersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>