RezerwacjeClient/Service References/RoomsServiceReference/RoomsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RezerwacjeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RezerwacjeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRooms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rooms" nillable="true" type="tns:Rooms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRooms" nillable="true" type="tns:ArrayOfRooms" />
  <xs:complexType name="Rooms">
    <xs:sequence>
      <xs:element minOccurs="0" name="BathNo" type="xs:int" />
      <xs:element minOccurs="0" name="BedNo" type="xs:int" />
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rooms" nillable="true" type="tns:Rooms" />
</xs:schema>