RezerwacjeClient/Service References/CustomerServiceReference/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60742/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60742/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60742/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RezerwacjeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/FindAll" message="tns:ICustomerService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/FindAllResponse" message="tns:ICustomerService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/FindById" message="tns:ICustomerService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/FindByIdResponse" message="tns:ICustomerService_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/Save" message="tns:ICustomerService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/SaveResponse" message="tns:ICustomerService_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:60742/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>